slides > slide.title-slide {
    background-image: url("omics.jpg");
    background-repeat: no-repeat;
    color: #048;
}

title {
  background-color: #010101;
}

h1,h2,h3 {
    color: #048;
}

<style>
.forceBreak { -webkit-column-break-after: always; break-after: column; }
</style>

\newcommand{\newcolumn}{<p class="forceBreak"></p>}
